@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  min-height: 100%;
  background-color: #242424;
  color:white; 
}

html, body{
  max-width: 100%;
  overflow-x: hidden;
}
